.App {
  text-align: center;
  margin: auto;
  max-width: 900px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 64px;
  margin-top: 40px;
  list-style: none;
}

.navbar > li > a {
  color: #4285f4;
  text-decoration: none;
  padding: 24px;
  height: 16px;
}

.navbar > li > a.activebtn {
  background-color: #4285f4;
  color: white;
}

.navbar > li > img {
  margin-top: -50px;
}

.SmurfForm {
  padding-top: 40px;
}

.Smurfs {
  padding-top: 20px;
}